<a href="https://colab.research.google.com/github/deepikak4/machine-learning-project/blob/main/PIMA%20INIDANS%20DIABETES%20DATABASE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # ML PROJECT-PIMA INIDANS DIABETES DATABASE


## BY DEEPIKA

 ### IMPORT LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')

### loading dataset

In [ ]:
db = pd.read_csv("diabetes.csv")
print("Shape:",db.shape)
db.head()    #displays first five records of data

Shape: (768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
db.tail()  # displays last five records

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
db.describe()  #to see the range of each column or statistical summary

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
db.info()  #to check null values in the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

## data cleaning

### a)dropping duplicates

In [ ]:
db.shape

(768, 9)

In [ ]:
db= db.drop_duplicates()

In [ ]:
db.shape

(768, 9)

### b)check the NULL values

In [ ]:
db.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
db.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
print("number of zero values in Pregnancies" , db[db['Pregnancies']==0].shape[0])

number of zero values in Pregnancies 111

In [ ]:
print("number of zero values in Glucose" , db[db['Glucose']==0].shape[0])

number of zero values in Glucose 5

In [ ]:
print("number of zero values in BloodPressure" , db[db['BloodPressure']==0].shape[0])

number of zero values in BloodPressure 35

In [ ]:
print("number of zero values in SkinThickness" , db[db['SkinThickness']==0].shape[0])

number of zero values in SkinThickness 227

In [ ]:
print("number of zero values in Insulin" , db[db['Insulin']==0].shape[0])

number of zero values in Insulin 374

In [ ]:
print("number of zero values in BMI" , db[db['BMI']==0].shape[0])

number of zero values in BMI 11

### c)REPLACING NO.OF ZEROS WITH MEAN OF THE COLUMN

In [ ]:
db['Pregnancies']= db['Pregnancies'].replace(0,db['Pregnancies'].mean())
print('No.of zero values in Pregnancies  ', db[db['Pregnancies']==0].shape[0])

No.of zero values in Pregnancies   0

In [ ]:
db['Glucose']= db['Glucose'].replace(0,db['Glucose'].mean())

In [ ]:
db['BloodPressure']= db['BloodPressure'].replace(0,db['BloodPressure'].mean())

In [ ]:
db['SkinThickness']= db['SkinThickness'].replace(0,db['SkinThickness'].mean())

In [ ]:
db['Insulin']= db['Insulin'].replace(0,db['Insulin'].mean())

In [ ]:
db['BMI']= db['BMI'].replace(0,db['BMI'].mean())

## split the data frame into X & y

In [ ]:
target_name='Outcome'
y= db[target_name]
X= db.drop(target_name,axis=1)

In [ ]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.000000,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1.000000,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,8.000000,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,1.000000,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,3.845052,137.0,40.0,35.000000,168.000000,43.1,2.288,33

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

#### applying scaling feature i.e., standardization

In [ ]:
#standard scaler
scaler = StandardScaler()
scaler.fit(X)
SSX = scaler.transform(X)

### train test split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(SSX,y,test_size=0.2, random_state=7)

print("X_train size: ", X_train.shape)
print("y_train size: ", y_train.shape, "\n")
print("X_test size: ", X_test.shape)
print("y_test size: ", y_test.shape)

X_train size:  (614, 8)
y_train size:  (614,)

X_test size:  (154, 8)
y_test size:  (154,)

## Build the CLASSIFICATION Algorithms

### 1)KNN

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
#predicting the test set results
knn_pred = knn.predict(X_test)

In [ ]:
print("Accuracy: ",accuracy_score(y_test,knn_pred))

Accuracy:  0.7597402597402597

### 2) Naive bayes

In [ ]:
nb=GaussianNB()
nb.fit(X_train, y_train)

GaussianNB()

In [ ]:
#predicting the test set results
nb_pred = nb.predict(X_test)

In [ ]:
print("Accuracy: ",accuracy_score(y_test,nb_pred))

Accuracy:  0.7532467532467533

### 3)SVM

In [ ]:
sv=SVC(kernel="linear",random_state=0)
sv.fit(X_train, y_train)

SVC(kernel='linear', random_state=0)

In [ ]:
#predicting the test set results
sv_pred = sv.predict(X_test)

In [ ]:
print("Accuracy: ",accuracy_score(y_test,sv_pred))

Accuracy:  0.7987012987012987

### 4)Random forest

In [ ]:
rf=RandomForestClassifier(criterion='entropy')
rf.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy')

In [ ]:
#predicting the test set results
rf_pred= rf.predict(X_test)

In [ ]:
print("Accuracy: ",accuracy_score(y_test,rf_pred))

Accuracy:  0.7857142857142857

In [ ]:
 #HYPER PARAMETER OPTIMIZATION
parameters={
    "learning_rate"    :[0.05,0.10,0.15,0.25],
    "max_depth"        :[3,4,5,6,8,10,12,15],
    "min_child_weight" :[1,3,5,7],
    "gamma"            :[0.0,0.1,0.2,0.3,0.4],
    "colsample_bytree" :[0.3,0.4,0.5,0.7]
}

### GridsearchCV to find best combination of hypertuned parameters in KNN algorithm

In [ ]:
parameters={'n_neighbors':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
           'weights':['uniform'],
           'p':[2]}
grid_search=GridSearchCV(estimator=knn,
                        param_grid=parameters,
                        scoring='accuracy',
                        cv=15)
grid_search=grid_search.fit(X_train,y_train.ravel())

In [ ]:
accuracy=grid_search.best_score_

In [ ]:
accuracy

0.7605284552845528

### GridSearchCV to find best combination of hypertuned parameters in Naive Bias

In [ ]:
parameters={'n_neighbors':[3,5,11,19],
            'weights':['uniform','distance'],
            'metric':['euclidean','manhattan']}
grid_search=GridSearchCV(KNeighborsClassifier(),
                        param_grid=parameters,
                        verbose=1,
                        cv=3,
                        n_jobs=-1
                        )

grid_search=grid_search.fit(X_train,y_train.ravel())

Fitting 3 folds for each of 16 candidates, totalling 48 fits

In [ ]:
accuracy=grid_search.best_score_

In [ ]:
accuracy

0.7654949784791966

### GridsearchCV to find best combination of hypertuned parameters in SVM algoritm

In [ ]:
parameters=[{'C':[1,10,100,1000],'kernel':['linear','rbf','poly','sigmoid','linear'],'degree':[1,2,3,4,5,6],'gamma':['auto','scale']}]
grid_search=GridSearchCV(estimator=sv,
                        param_grid=parameters,
                        scoring='accuracy',
                        cv=5)
grid_search=grid_search.fit(X_train,y_train.ravel())

In [ ]:
accuracy=grid_search.best_score_

In [ ]:
accuracy

0.776862588298014

### GridSearchCV to find best combnation of hypertuned parameters in RandomForestClassifier algorithm

In [ ]:
parameters={'n_estimators':[10,20,30,40,50,60,70,80,90,100],
           'criterion':['gini','entropy']}
grid_search=GridSearchCV(estimator=rf,
                        param_grid=parameters,
                        scoring='accuracy',
                        cv=10)
grid_search=grid_search.fit(X_train,y_train.ravel())

In [ ]:
accuracy=grid_search.best_score_

In [ ]:
accuracy

0.763802221047065